.container{
background: #FCD667;
margin-left: 15%;
margin-right: 15%;
margin-top: 3%;
border: 3px dashed #C46210;
}

#mainBackGround{
background-color: #FCD667;
opacity: 55%;
margin-left: 3%;
margin-right: 3%;
 }

 #mainImage2{
 height: 15%;
 width: 20%;
 }

 Body{
background-image: url("renovation.jpg");
background-repeat: no-repeat;
background-size: 100%;
width: 100%;
 }

 #headings{
 color: #B73239;
 font-size: 3em;
 margin-top: 5%;
 }

 .HomeLinks a{
 font-size: 2em;
 color: #4A646C;
 }

 .HomeLinks a:hover {
   background-color: yellow;
   color: green;
   border: 1px solid #FCD667;
 }

 #mainImage2{
 opacity: 100%;
 }

li{
     list-style-type: none;
}

.carousel{
width: 100vw;
height: 100vh;
position: relative;
}

.carousel > ul{
margin: 0;
padding: 0;
list-style: none;
}

.slide{
position: absolute;
inset: 0;
}

.slide > img {
display: block;
object-position: center;
}

.slide[data-active]{
opacity: 1;
}

#leftBtn:hover,
#leftBtn:focus,
#rightBtn:hover,
#rightBtn:focus{
color: white;
background-color: rgba(0,0,0,.2);
}

#leftBtn{
position: absolute;
background: none;
border: 3px solid red;
z-index: 2;
color: white;
background-color: rgba(0,0,0,.1);
left: 0;
margin-left: 20%;
font-size: 2em;
}

#rightBtn{
position: absolute;
background: none;
border: 3px solid red;
z-index: 2;
color: white;
background-color: rgba(0,0,0,.1);
right: 0;
margin-right: 20%;
font-size: 2em;
}

#instructions{
font-size: 2em;
}

.carouselPics{
height:25%;
width: 25%;
}

.carouselPics2{
height:25%;
width: 25%;
padding: 20px;
margin: 5%;
}

.carouselText{
color: black;
}


#carouselBlog{
right:0;
top:0;
position: absolute;
background-color: white;
border: 2px solid brown;
width: 20%;
margin-top: 10%;
opacity: 75%;
font-size: 28px;
margin-right: 1%;
}


#button1{
border: 3px solid grey;
margin-left: 5%;
}

#returnHomeLink{
color: red;
font-size: 18px;
}

#returnHomeLink:hover{
color: yellow;
font-size: 18px;
}

#container{
 background-color: #EEE;
  font-family: sans-serif;
  font-size: 20px;
  padding: 25px;
  margin: 0;
  overflow: auto;
  width: 15vw;
  height: 25vw;
  margin-left: 2%;
  }

  #container li {
    margin-bottom: 10px;
  }

  #roundButton {
    background-color: #96D9FF;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #0065A6;
    outline: none;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
  }

  #roundButton:hover {
    background-color: #96D9FF;
    cursor: pointer;
    border-color: #003557;
    transform: scale(1.2, 1.2);
  }

  #roundButton:active {
    border-color: #003557;
    background-color: #FFF;
  }

#menuArea{
width: 20vw;
height: 50vh;
overflow-y: hidden;
overflow-x: hidden;
position: relative;
    overflow: hidden;
visibility: hidden;
}
