.container{
background: #FCD667;
margin-left: 15%;
margin-right: 15%;
margin-top: 3%;
border: 3px dashed #C46210;
}

#mainBackGround{
background-color: #FCD667;
opacity: 55%;
 }

 #mainImage2{
 height: 15%;
 width: 20%;
 }

 Body{
background-image: url("renovation.jpg");
background-repeat: no-repeat;
background-size: 100%;
width: 100%;
 }

 #headings{
 color: #B73239;
 font-size: 3em;
 margin-top: 5%;
 }

 .HomeLinks a{
 font-size: 2em;
 color: #4A646C;
 }

 .HomeLinks a:hover {
   background-color: yellow;
   color: green;
   border: 1px solid #FCD667;
 }

 #mainImage2{
 opacity: 100%;
 }

li{
     list-style-type: none;
}

.carousel{
width: 100vw;
height: 100vh;
position: relative;
}

.carousel > ul{
margin: 0;
padding: 0;
list-style: none;
}

.slide{
position: absolute;
inset: 0;
}

.slide > img {
display: block;
object-position: center;
}

.slide[data-active]{
opacity: 1;
}

#leftBtn:hover,
#leftBtn:focus,
#rightBtn:hover,
#rightBtn:focus{
color: white;
background-color: rgba(0,0,0,.2);
}

#leftBtn{
position: absolute;
background: none;
border: 3px solid red;
z-index: 2;
color: white;
background-color: rgba(0,0,0,.1);
left: 0;
margin-left: 20%;
font-size: 2em;
}

#rightBtn{
position: absolute;
background: none;
border: 3px solid red;
z-index: 2;
color: white;
background-color: rgba(0,0,0,.1);
right: 0;
margin-right: 20%;
font-size: 2em;
}

#instructions{
font-size: 2em;
}

.carouselPics{
height:25%;
width: 25%;
}

.carouselPics2{
height:25%;
width: 25%;
padding: 20px;
margin: 5%;
}

.carouselText{
color: black;
}

#carouselBlog{
right:0;
top:0;
position: absolute;
background-color: white;
border: 2px solid brown;
width: 20%;
margin-top: 10%;
opacity: 75%;
font-size: 28px;
margin-right: 1%;
}


#button1{
border: 3px solid grey;
margin-left: 5%;
}
